@import url("../shared.css");

* {
    box-sizing: border-box;
}

/*Кнопка*/

.main-button {
    background-color: #efe939;
    border: 1px solid #efe939;
    text-decoration: none;
    color: black;
    padding: 0.7rem 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.8rem;
    display: inline-block;
    font-family: 'Lato', sans-serif;
}

.main-button:hover {
    background: orange;
    color: white;
    border: 1px solid orange;
    transition: 0.3s
}

/*title*/
.main-title {
    font-size: 2.8rem;
    line-height: 1;
    font-family: 'Merriweather', serif;
}

/*subtitle*/
.main-subtitle {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Merriweather', serif;
}

/*text*/
.main-text {
    color: #9b9b9b;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

/*первый баннер*/

.background-banner {
    width: 100%;
    background-image: url("../image/back2.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
}

.background-banner h3 {
    padding: 90px 0 20px 0;
    color: white;
    font-size: 2.8rem;
    line-height: 1;
    font-family: 'Merriweather', serif;
}

.background-banner a {
    color: #efe939;
    text-decoration: none;
}

.background-banner a:after {
    content: "\2192";
    color: white;
    padding-left: 0.5rem;
}

.background-banner a:hover {
    color: white;
}

.background-banner span {
    color: white;
}

.background-banner a, .background-banner span {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 0 0.3rem;
    padding-bottom: 90px;
}

/*introduction-about*/

.about-introduction {
    width: 100%;
}

.about-introduction-position {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    flex-wrap: nowrap;
}

.about-introduction-banner-border {
    padding: 19px;
    border: 4px solid yellow;
    margin: 5rem 3rem 0 3rem;
    max-width: 100%;
    height: 100%;
}

.about-introduction-banner-border img {
    max-width: 100%;
    height: auto;
    max-height: 466px;
}

.about-introduction-content {
    margin-top: 3rem;
    margin-left: 3rem;
    width: 40%;
}

.about-introduction-title {
    font-size: 2.8rem;
    margin-top: 3rem;
    line-height: 1;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.about-introduction p {
    color: #9b9b9b;
    font-size: 0.9rem;
    line-height: 1.7;
    margin-top: 1.5rem;
    font-family: 'Lato', sans-serif;
}

/*video*/

.main-additional-banner-video {
    width: 100%;
    min-height: 400px;
    margin-top: 5rem;
}

/*Team*/

.team-position {
    text-align: center;
    margin-top: 4rem;
}

.main-title-team {
    font-size: 2.8rem;
    line-height: 1;
    font-family: 'Merriweather', serif;
}

.main-team-position {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.main-team-content {
    width: 350px;
    margin: 0 3rem;
    text-align: center;
}

.main-team-content img {
    border-radius: 50%;
}

.team-subtitle-position, .team-text-position {
    margin-top: 1rem;

}

.main-team-content em {
    display: inline-block;
    margin-top: 0.3rem;
}

@media screen and (max-width: 1130px) {
    /*main-banner*/
    .background-banner h3 {
        font-size: 2rem;
    }

    .background-banner a, .background-banner span {
        font-size: 15px;
    }

    .about-introduction-banner-border {
        margin: 5rem 1rem 0 3rem;
    }

    .about-introduction-title {
        font-size: 2rem;
    }

    .about-introduction p {
        line-height: 1.4;
    }

    /*team*/
    .main-title-team {
        font-size: 2rem;
    }

    .main-team-content em {
        font-size: 14px;
    }

    .main-team-content .main-text {
        font-size: 14px;
    }

}

@media screen and (max-width: 1000px) {
    .about-introduction-position {
        flex-wrap: wrap;
    }

    .about-introduction-content {
        width: 100%;
        margin-left: 2rem;
        margin-right: 1rem;
        text-align: center;
    }

    .about-introduction-banner-border {
        margin: 3rem 0 0 1rem;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 780px) {
    .main-team-position {
        flex-direction: column;
        align-items: center;
    }

    .main-team-content {
        margin: 2rem 3rem;
    }

    .main-team-content {
        width: 90%;
    }

    .main-banner-video {
        min-height: 300px;
    }
}
